/* body bg */
body {
    background-color: aquamarine;
}

/* snapshot button */
button {
    background-color: firebrick;
    color: white;
    display:block;
    border-radius: 20%;
    border: 1px solid firebrick;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    text-decoration: none;
    height: 40px;
    width: 220px;
    overflow: hidden;
}

button:hover {
    background-color:red;
    color: white;
}